#anim {
    width: 1000px;
    height: 300px;
    margin: 0 auto;
    border: 1px solid #069;
    background: url(../img/CITY.png) repeat-x 0 100%;
    background-size: 100%;
    animation: city 7s linear;
}

#kol1,
#kol2 {
    position: absolute;
    z-index:2;    
}

#kol1 {
    transform: translate(27px, -26px);
}

#kol2 {
    transform: translate(155px, -30px);
}

#kol1 > img,
#kol2 > img {
    animation: kryg1 7s linear;
}

#gaz1,
#gaz2 {
    position: absolute;
    z-index: -1;
}

#gaz1 {
    transform: translate(12px, -30px);    
    animation: poke 1s linear;
    animation-iteration-count: 7;
}

#gaz2 {
    transform: translate(12px, -50px);
    animation: poke 1.1s ease-in;
    animation-iteration-count: 7;
}

#carr {
    transform: translate(40px, 180px);
    position: relative;
    z-index: 1;
    animation: go 7s linear;
    animation-fill-mode: both;
}

@keyframes poke {
    from {
        transform: translate(12px, -30px);
        opacity: 1.0;
    }
    
    30% {
        transform: translate(-10px, -25px);
    }

    to {
        transform: translateX(-85px) translateY(-100px);
        opacity: 0;
    }
}

@keyframes go {
    0% {
        transform: translate(40px, 180px);
    }

    100% {
        transform: translate(800px, 180px);
    }
}

@keyframes kryg1 {
    from {
        transform: rotate(0);
    }

    25% {
        transform: rotate(1turn);
    }

    50% {
        transform: rotate(2turn);
    }

    75% {
        transform: rotate(3turn);
    }

    to {
        transform:rotate(4turn);
    }
}

@keyframes city {
    from { background-position: 1000px 100%; }
    to { background-position: 0 100%; }
}
