body {
    margin: 0;
}

header, nav, footer, .main_content {
    width: 1054px;
    margin: 0 auto;
    box-sizing: border-box;    
}

header {
    height: 146px;
    background-color: #0000FF;
}

nav, .footer2, .footer1 {
    height: 88px;
}

nav, .footer2 {    
    background-color: #ede115;
}

.footer1 {
    background-color: #0000FF;
}


aside, article {
    border: 1px solid #000000;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

aside {
    width: 367px;
    float: left;
}

article {
    width: 640px;
    float: right;
}

#clear {
    clear: both;
}

header h1, header img {
    display: block;
}

header h1 {
    float: left;
    margin: 0px;
    padding-top: 66px;
    padding-left: 21px;
    font-weight: normal;
    font-size: 42px;
    color: white;
}

header img {
    float: right;
    padding-right: 33px;
    padding-top: 3px;
}

nav {
    height: 88px;
    background: #ede115;
}

nav ul {
    margin: 0px;
    padding-left: 410px;
}

nav li {
    display: inline-block;
    padding-right: 30px;
    margin-top: 35px;
    font-size: 28px;
    font-weight: bold;
    color: #4025b5;
}

nav a {
    text-decoration: none;
}

aside {
    width: 367px;
    float: left;
    border: 1px solid #000000;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

summary {
    display: block;
    width: 228px;
    height: 34px;
    padding-left: 13px;
    padding-top: 11px;
    margin-left: -2px;
    margin-top: -1px;
    background-color: #0099ff;
    font-size: 19px;
    outline: 1px solid #000000;
    outline-offset: -4px;
}

details ul {
    margin-bottom: 12px;
}

details li {
    width: 195px;
    height: 23px;
    margin-left: -9px;
    margin-top: -4px;
    margin-bottom: 4px;
    padding-top: 9px;
    padding-bottom: 7px;
    padding-left: 12px;
    list-style: none;
    font-weight: bold;
}

details li:nth-child(odd) {
    background-color: #ccc;
}

.map {
    margin-left: 100px;
}


#addr, #cont {
    color: #ede115;
    font-size: 30px;
}

#addr {
    font-weight: bold;
    width: 350px;
    margin-right: 35px;
    margin-top: 7px;
}

#cont {
    margin-left: 30px;
    margin-top: 25px;
}

#lin_im, #cont {
    float: left;
}

#c_im, #addr {
    float: right;
}

#lin_im {
    margin-top: 17px;
    margin-left: 50px;
}

#c_im {
    height: 88px;
    margin-right: 70px;
}


