.flex {
    height:100px;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row-reverse; */
    justify-content: space-between;
}

.flex div {
    float:left;
    background:#039;
    border-radius:5px;
    padding:5px;
    margin-left:10px;
}
.flex div:first-child {
    background:#090;
}
.flex div:last-child {
    background:#C00;
}
